<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <title>AMENIEL COFFEE</title>

</head>
<body>
<img src="{% static "/image/img.jpg" %}" alt="AMENIEL COFFEE" sizes="950">

<h1><a href="http://127.0.0.1:8000/registration_page/">Регистрация</a></h1>
<h1><a href="http://127.0.0.1:8000/login_page/">Вход</a></h1>
<h1><a href="http://127.0.0.1:8000/suppliers_page/">Поставщики</a></h1>

</body>
</html>