<!DOCTYPE html>
{% load static %}
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <title>AMENIEL COFFEE</title>

</head>
<body>
<img src="{% static "/image/img.jpg" %}" alt="AMENIEL COFFEE" sizes="950">

<h1><a href="http://127.0.0.1:8000/registration_page/">Регистрация</a></h1>
<h1><a href="http://127.0.0.1:8000/login_page/">Вход/Выход</a></h1>
<h1><a href="http://127.0.0.1:8000/workers_page/">Сотрудники</a></h1>
<h1><a href="http://127.0.0.1:8000/users_page/">Клиенты</a></h1>
<h1><a href="http://127.0.0.1:8000/suppliers_page/">Поставщики</a></h1>
<h1><a href="http://127.0.0.1:8000/supply_page/">Поставки</a></h1>
<h1><a href="http://127.0.0.1:8000/bid_page/">Заявки</a></h1>
<h1><a href="http://127.0.0.1:8000/schedule_page/">График</a></h1>

</body>
</html>