<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <title>Регистрация пользователя</title>
</head>
<body>
<h1>Регистрация</h1>
<h2>{{ message }}</h2>
<h2>{{ error_message }}</h2>
<h2>{{ error_message_pas }}</h2>
<h2>{{ error_message_phone }}</h2>
<h2>{{ error_message_empty }}</h2>
<p>
<form action="" method="post">
        {% csrf_token %}
        <p>Введите ваше имя</p>
        <input type="text" name="name" id="name" value="">
        <p>Введите пороль</p>
        <input type="text" name="password" id="password" value="">
        <p>Введите ваш номер телефона</p>
        <input type="tel" name="phone" id="phone" value="">
        <p>
        <input type="submit" name="send" id="send">
        </form>
</body>
</html>