<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <title>График</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.31/vue.cjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.0/axios.js"></script>
</head>
<body>
<img src="https://realt.by/uploads/pics/12_0ec837.jpg" alt="AMENIEL COFFEE" width="1050" height="550">
<H1>Добро пожаловать в раздел работы с графиком!</H1>
<HR>
<p>Тут вы сможете выбирать колличество фактически отработанных часов</p>


<div class="container" id="schedule_app">

</div>


</body>
</html>