<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <title>Поставки</title>

</head>
<body>

<h1>Список поставок</h1>
<form action="" method="GET">
        {% csrf_token %}
        <h2>{{ supply_list }}</h2>
        </form>

<h1>Добавить поставку</h1>
<form action="" method="post" name="add">
        {% csrf_token %}
        <p>Введите имя поставщика</p>
        <input type="text" name="name" id="name" value="">
        <p>Введите сумму поставки</p>
        <input type="number" name="pay_sup" id="pay_sup" value="">
        <p>Выберите дату поставки</p>
        <input type="date" name="date" id="date" value=""><p></p>
        <input type="submit" name="send" id="send">
        </form>

<h2>{{ error_message_empty }}</h2>
<h2>{{ message }}</h2>

</body>
</html>